.dropzone{
    display: flex;
    padding: 10px;
 
}
.dropzone__style{
    display: flex;
    width: 200px;
    height: 200px;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
}
.dropzone__style:hover{
    border:2px solid rgb(28, 160, 212);
}

.image__style{
    display: flex;
    width: 200px;
    height: 200px;
    margin-left: 40px; 
    overflow-x: scroll;
  
    
}
::-webkit-scrollbar {
    display: none;
}
.images__tag{
    min-width:200px;
    width: 200px;
    height: 200px;
    border: 1px solid gray !important;
    
}
@media screen and (max-width: 500px) {

    .dropzone__style{
        display: flex;
        width: 150px;
        height: 100px;
    }
    .images__tag{
        min-width:90px;
        width: 70px;
        height: 100px;
        border: 1px solid gray !important;
        
    }

}