.table__container{
    width: 75%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    /* height: 70vh; */
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  @media screen and (max-width: 540px){
    .table__container{
     
      /* margin-left: 100px; */
      margin-right: 100px;
      /* width: 65%; */
  }

  }
  @media screen and (max-width: 480px){
    .table__container{
     
      margin-left: 15px;
      /* margin-right: 5px; */
      /* width: 65%; */
  }

  }
